<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
  <head>
    <meta charset="UTF-8" />
    <title>Noora's Coffee Shop</title>
    <!-- <link  th:href="@{/css/layout.css}" rel="stylesheet"> -->
    <link rel="stylesheet" th:href="@{/css/layout.css}" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header class="p-3 bg-light text-dark" th:fragment="header">
      <div class="container">
        <div
          class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
        >
          <a
            th:href="@{/index}"
            class="d-flex align-items-center mb-2 mb-lg-0 text-warning text-decoration-none"
          >
            <h3>Noora coffee shop</h3>
          </a>

          <ul
            class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
          >
            <li>
              <a th:href="@{/admin/product}" class="nav-link px-2 text-dark">
                Product
              </a>
            </li>
            <li>
              <a th:href="@{/admin/supplier}" class="nav-link px-2 text-dark">
                Supplier
              </a>
            </li>
            <li>
              <a
                th:href="@{/admin/manufacturer}"
                class="nav-link px-2 text-dark"
              >
                Manufacturer
              </a>
            </li>
            <li>
              <a th:href="@{/logout}" class="nav-link px-2 text-dark">
                Sign out
              </a>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <div class="container" th:fragment="footer" style="margin-top: 5rem;">
      <footer
        class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
      >
        <div class="col-md-4 d-flex align-items-center">
          <a
            href="/"
            class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1"
          >
            <svg class="bi" width="30" height="24">
              <use xlink:href="#bootstrap"></use>
            </svg>
          </a>
          <span class="text-muted">
            © 2022 Noora Coffee Shop-Deepika
          </span>
        </div>
      </footer>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
