<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>Admin</title>
    <link  th:href="@{/css/layout.css}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
<style>
    input[type="text"]{
        width: 50%;
        margin: 1rem;
       
    }
    input[type="email"]{
        width: 50%;
        margin: 1rem;
    }
    label{
        margin-left: 1rem;
    }
   
</style>
</head>
<body>
    <main class="form-sign-in">
        <h1 class="h3 mb-3 fw-normal">
            Supplier Management
          </h1>
           <form th:action="@{/updateManufacturer/{id}(id=${manufacturer.id})}"  method="post"> 
          
          <!-- Manufacturer name -->
          <div class="form-floating">
              <input type="text" class="form-control" id="floatingManufacturerName" name="manufacturerName" placeholder="manufacturer name" th:value="${manufacturer.name}">
              <label for="floatingManufacturerName">Manufacturer Name</label>
          </div>
          <!-- contact person mail -->
          <div class="form-floating">
              <input type="text" class="form-control" id="floatingManufacturerUrl" name="manufacturerUrl" placeholder="Manufacturer Url" th:value="${manufacturer.url}">
              <label for="floatingManufacturerUrl">Manufacturer Url</label>
          </div>
          <!-- contact person name -->
          <div class="form-floating">
              <input type="text" class="form-control" id="floatingContactName" name="contactName" placeholder="Contact Person Name" th:value="${supplier.contactPersonName}">
              <label for="floatingContactPersonName">Contact Person Name</label>
          </div>

          <button type="submit" class="btn btn-info add">Add</button>
          </form>
          </main>

          
          </body>
          </html>